-------------------------------------
1.变量
@nice-blue:#5ba88d;
#header{
	color:@nice-blue;
}
------------------------------------
2.混合
.bordered{
	border-top:1px solid black;
}

#menu a{
	color:@nice-blue;
	.bordered;  /*这种用法是直接把内容拷贝了一份，会有冗余代码*/
}

#menu a{
	color:@nice-blue;
	&.extend(.bordered);  /*继承了bordered，&代码当前选择器*/
}

#menu a:extend(.bordered){
	color:@nice-blue;     /*同上，写法不同*/
}
-----------------------------------------
3.嵌套及调用
.header{
	color:@nice-blue;
	.gray{
        font-size: 10px;
	}
	&:hover{
		color:red;
	};
}
#nav{
	.header > .gary    /*别处使用.header下的.gary*/
}
-----------------------------------------
4.封装  bundle是关键词
#bundle{
	.tab{
		width:20px;
		height:20px;
	}
}
.header{
	#bundle > .tab;   /*别处使用.tab*/
}
-----------------------------------------
5.导入
@import "library.less"  后缀less可省略，导入后可使用library文件中的变量
@import (reference) "library"  不编译library文件到本文件中，可以使用变量
